{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1>Edit User</h1>

	{{ include('user_admin/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('user_admin_index') }}">back to list</a>

	{{ include('user_admin/_delete_form.html.twig') }}
{% endblock %}
