{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<h1>Administrateur et suppport technique
	</h1>

	{{ include('user_admin/_form.html.twig') }}

	<a href="{{ path('user_admin_index') }}">back to list</a>
{% endblock %}
