{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!
{% endblock %}

{% block body %}

	<h1>Création d'un ticket</h1>
	{{form_start(form)}}
	{{form_widget(form)}}
	<button type="submit">Envoyé Le Ticket</button>
	{{form_end(form)}}
{% endblock %}
