{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!
{% endblock %}

{% block body %}
	<div>
		<h1>Repondre a un ticket</h1>
		<a href="{{ path('home') }}">Revenir a l'accueil</a>
		<div>
			<p>Message Original :
				{{ ticket.message }}</p>
		</div>
		<div>
			<ul>
				{% for response in ticket.getResponses() %}
					<li>
						{% if response.getUser().getRoles()[0] == 'ROLE_USER' %}
							Client
						{% else %}
							Support
						{% endif %}
						:
						{{response.response}}</li>
				{% endfor %}
			</ul>
		</div>
		{{form_start(form)}}
		{{form_widget(form)}}
		<button type="submit">Répondre</button>
		{{form_end(form)}}
	</div>
{% endblock %}
