{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Edition ticket</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn">Enregistrer</button>
	{{ form_end(form) }}


{% endblock %}
