{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Support ticket</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Message</th>
				<th>Status</th>
				<th>Category</th>
				<th>Edit category</th>
				<th>Date</th>
				<th>Voir</th>
				<th>Cloture</th>
			</tr>
		</thead>
		<tbody>
			{% for ticket in tickets %}
				<tr>
					<td>{{ ticket.id }}</td>
					<td>{{ ticket.message }}</td>
					<td>{{ ticket.status }}</td>
					<td>{{ ticket.category.name }}</td>
					<td>{{ ticket.date|date}}</td>
					<td>
						<a href="{{ path('app_ticket_show', { 'id': ticket.id }) }}">Voir</a>
					</td>
					<td>
						<a href="{{ path('user_support_close', { 'id': ticket.id }) }}">Cloturer</a>
					</td>
					<td>
						<a href="{{ path('app_ticket_edit', { 'id': ticket.id }) }}">Edit</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
