<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<nav class="menu">
			<ul>
				<li>
					<a href="{{ path('home') }}">Home</a>
				</li>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a href="{{ path('user_admin_index') }}">Admin</a>
				<ul>
					<li><a href="{{ path('user_support')}}">Support technique</a></li>
					<li><a href="{{ path('category_index')}}">Category</a></li>
				</ul>
			</li>
			{% endif %}

			<li>
				<a href="{{ path('app_ticket_create') }}">Créer Un Nouveau Ticket</a>
			</li>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<li>
				<a href="{{ path('app_logout')}}">Logout</a>
			</li>
			{% else %}
			<li>
				<a href="{{ path('app_login')}}">Login</a>
				<a href="{{ path('app_register')}}">Register</a>
			</li>
			{% endif %}
		</ul>
	</body>
</html></nav>{% block body %}{% endblock %}</body></html></body></html>
